* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-white: #f5f6f6;
}

.wrapper {
  background-color: #f5f6f6;
  padding-top: 40px;
  min-height: 100%;
  height: 100vh;
}

.wrapper .logo img {
  max-width: 50%;
  /* width: 200px; */
}

.wrapper input {
  background-color: var(--light-white);
  border-color: var(--light-white);
  /* color: gray; */
  color: var(--gray);
}

.wrapper input:focus {
  box-shadow: none;
}

.error-text-show {
  display: block;
}

.error-text-hide {
  display: none;
}

.product-name {
  text-overflow: ellipsis;
  width: 100%;
  /* height: 3rem; */
}
/* .card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
} */

/* .embed-responsive .card-img-top {
  object-fit: cover;
} */

/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/
.card-img-top {
  /*height: 11vw;*/
  object-fit: contain;
  background-color: white;
}

.card {
  background-color: #efefef;
}

@media (max-width: 575px) {
  .card-img-top {
    height: 50vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-img-top {
    height: 30vw;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {
    height: 16vw;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 11vw;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 11vw;
  }
}
